*{
  padding:0;
  margin:0;
}

#app{
  margin: 0;
}

.el-menu{
  border:none;
}

.f-6{
  font-size: 12px;
}

.f-7{
  font-size: 14px;
}

.f-10{
  font-size: 20px;
}

.f-11{
  font-size: 22px;
}

.f-12{
  font-size: 24px;
}

.f-13{
  font-size: 26px;
}

.f-14{
  font-size: 28px;
}

.f-15{
  font-size: 30px;
}

.f-16{
  font-size: 32px;
}

.sys-flex{
  display: flex;
}

.fixed{
  position: fixed;
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
}
